@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D1175037-6DDD-4995-874D-40460C014F4D

//npm install --save @fortawesome/fontawesome-svg-core
//npm install --save @fortawesome/free-solid-svg-icons
//npm install --save @fortawesome/react-fontawesome
//npm install --save @fortawesome/free-brands-svg-icons
//npm install --save @fortawesome/free-regular-svg-icons
//npm install --save @fortawesome/free-solid-svg-icons

//npm install --save react-router-dom